<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTC-8">
    <meta name="viewport" content="width=device-width", initial-scale=1.8>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
    <div id="footer"><p  style="text-align: center;">This Page is developed and managed by Nimit Banka <br> Contact <br>Phone: 9546607724<br><a href ="mailto: nimit.banka@gmail.com">nimit.banka@gmail.com</a></p>
    <br>
    </div>
</body>
</html>