{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="title"><h1 style="text-align: center;"><u> Metric Conversion</u></h1>
    <p style="text-align: left;"><a href="{{ url_for('mainpage') }}">Home</a> >> <a href="{{url_for('conversion')}}">Conversion</a></p>
</div><br>
<section class="info">
    
    <section class="cards-wrapper">
      <div class="card-grid-space">
        <a class="card" href="{{ url_for('temperature') }}" style="--bg-img: url('/static/img/temperature.png')">
          <div>
            <h1>Temperature Conversion</h1>
          </div>
        </a>
      </div>
      <div class="card-grid-space">
        <a class="card" href="{{ url_for('weight') }}" style="--bg-img: url('/static/img/weight.png')">
          <div>
            <h1>Weight Conversion</h1>
          </div>
        </a>
      </div>
      <div class="card-grid-space">
          <a class="card" href="{{ url_for('length') }}" style="--bg-img: url('/static/img/length.png')">
            <div>
              <h1>Length Conversion</h1>
            </div>
          </a>
        </div>
      </section>
</section>

<h5 style="text-align: center;"><a href="{{ url_for('mainpage') }}"><button type="button" class="glow-on-hover">Home</button></a></h5>

{% endblock %}