{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="title"><h1 style="text-align: center;"><u>GAMES</u></h1>
    <p style="text-align: center;">More Games Under development</p>
    <p style="text-align: left;"><a href="{{ url_for('mainpage') }}">Home</a><a href="{{ url_for('games') }}">Games</a></p>
</div>
<section class="info">
    
  <section class="cards-wrapper">
    <div class="card-grid-space">
      <a class="card" href="{{ url_for('rps') }}" style="--bg-img: url('/static/img/rps.png')">
        <div>
          <h1>Rock-Papper-Scissors</h1>
        </div>
      </a>
    </div>
    </section>
</section>
<div>
    <h5 style="text-align: center;"><a href="{{ url_for('mainpage') }}"><button type="button" class="glow-on-hover">Home</button></a></h5>
</div>

{% endblock %}