{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="title"><h1 style="text-align: center;"><u> Tools App</u></h1>
    <p style="text-align: center;">This website contain Many Tools from calculator to metric conversions as well as you can write your To-DO list</p>
    <p style="text-align: left;"><a href="{{ url_for('mainpage') }}">Home</a></p>
</div>
<section class="info">
    
  <section class="cards-wrapper">
    <div class="card-grid-space">
      <a class="card" href="{{ url_for('taskmanager') }}" style="--bg-img: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/html-syntax/cover.jpg)">
        <div>
          <h1>To-Do List</h1>
          <p>List out your daily targets.</p>
        </div>
      </a>
    </div>
    <div class="card-grid-space">
      <a class="card" href="{{ url_for('cal_bmi') }}" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/basic-types-of-html-tags/cover.jpg')">
        <div>
          <h1>BMI Calculator</h1>
          <p>Calculate your BMI and eat accordingly</p>
        </div>
      </a>
    </div>
    <div class="card-grid-space">
        <a class="card" href="{{ url_for('calculator') }}" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/basic-types-of-html-tags/cover.jpg')">
          <div>
            <h1>Calculator</h1>
            <p>Simple calculator to perform daily calculations</p>
          </div>
        </a>
      </div>
    <div class="card-grid-space">
      <a class="card" href="{{ url_for('conversion') }}" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/basic-types-of-html-tags/cover.jpg')">
        <div>
          <h1>Metric Coversions</h1>
          <p></p>
        </div>
      </a>
    </div>
    <div class="card-grid-space">
      <a class="card" href="{{ url_for('games') }}" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/basic-types-of-html-tags/cover.jpg')">
        <div>
          <h1>Games</h1>
          <p></p>
        </div>
      </a>
    </div>
    </section>
</section>



{% endblock %}